@model Examen2.Models.TelefonoModelo
@{
    ViewBag.Title = "Borrar Telefono";
}
<html>
<head>
</head>
<body>
    @using (Html.BeginForm("BorrarTelefono", "telefonos", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <h1>Formulario de borrar un telefono</h1>
        @Html.HiddenFor(model=>model.ID)
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.Marca)
                @Html.TextBoxFor(model => model.Marca, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.Marca, "", new { @class = "text-danger"})
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Modelo)
                @Html.TextBoxFor(model => model.Modelo, new{@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Modelo, "", new { @class = "text-danger"})
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Color)
                @Html.TextBoxFor(model => model.Color, new{@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger"})
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Cores)
                @Html.TextBoxFor(model => model.Cores, new{@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Cores, "", new { @class = "text-danger"})
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Android)
                @Html.TextBoxFor(model => model.Android, new{@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Android, "", new { @class = "text-danger"})
            </div>
            <input type="submit" class="btn btn-success" value="Borrar" />
        </div>
    }
</body>
</html>