@model List<laboratorio6.Models.PeliculaModelo>;
@{
    ViewData["Title"] = "Peliculas";
}

<h1>@ViewBag.MainTitle</h1>

<div>
    <a href="@Url.Action("CrearPelicula", "Peliculas")"
    class="btn btn-success">Crear pelicula</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Año</th>
                <th>Editar</th>
                <th>Borrar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Nombre</td>
                    <td>@item.Año</td>
                    <td>
                        @Html.ActionLink("Editar", "EditarPelicula",
                        new {identificador = @item.ID},
                        new{@class ="btn btn alert-info",
                            @onClick = "return confirm('Desea editar esta pelicula')"})
                    </td>
                    <td>
                        @Html.ActionLink("Borrar", "BorrarPelicula",
                        new {identificador = @item.ID},
                        new{@class ="btn btn alert-danger",
                            @onClick = "return confirm('Desea borrar esta pelicula')"})
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
